<div class="row">

    <div class="col-xs-12">
        <h1>Contact</h1>
        <br />
        <p>
        Bellow is a list of our staff members you may contact that may be of use.
        </p>
        <br />
        <div class="panel panel-default">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Staff Member</th>
                        <th>Position</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Office Cell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td> Jessica Estabrooks</td>
                        <td> Finance and Operations Manager</td>
                        <td> jestabrooks@hospiceniagara.ca</td>
                        <td> x 238</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td> Kate Murrell</td>
                        <td> Administrative Assistant</td>
                        <td> kmurrell@hospiceniagara.ca</td>
                        <td> x 222</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td> Carol Nagy</td>
                        <td> Executive Director</td>
                        <td> cnagy@hospiceniagara.ca</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
         <br />
         <p>Here is all you need to know about hospice</p>
            <br />
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Information</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hospice Niagara</td>
                        <td>The Stabler Centre</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>403 Ontario Street, Unit 2 St. Catharines, ON L2N 1L5</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td>905-984-8766</td>
                    </tr>
                    <tr>
                        <td>Fax</td>
                        <td>905-984-8242</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td>www.hospiceniagara.ca</td>
                    </tr>
                    <tr>
                        <td>Twitter</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>LinkedIn</td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <br />

        </div>
</div>
