<div class="row">

    <div class="col-xs-12">
        <h1>Contact</h1>
        <br />
        <p>
        Bellow is a list of our staff members you may contact that may be of use.
        </p>
        <br />
        <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Staff Member</th>
                    <th>Position</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Office Cell</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> Jessica Estabrooks</td>
                    <td> Finance and Operations Manager</td>
                    <td> jestabrooks@hospiceniagara.ca</td>
                    <td> x 238</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> Kate Murrell</td>
                    <td> Administrative Assistant</td>
                    <td> kmurrell@hospiceniagara.ca</td>
                    <td> x 222</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td> Carol Nagy</td>
                    <td> Executive Director</td>
                    <td> cnagy@hospiceniagara.ca</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

  


