@model Hospice.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


<!--Custom Css for this page only link here-->
<link href="~/Content/login-custom.css" rel="stylesheet" />

<div class="container">
    <div class="login">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                
            </div>
            <div class="input-group">
                <input type="submit" class="btn btn-primary btn-login" value="Reset Password" />
            </div>
            
            <div class="input-group">
                <a href="~/Views/Account/Login.cshtml" class="btn btn-primary btn-login">Back To Login</a>
            </div>

        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
