
 <!-- sidebar -->
<div class="sidebar">
    <ul>
        <li>
            <a href="/Home/Index" class="glyphicon glyphicon-home">
                <div class="sidebar-text">Home</div>
            </a>
        </li>
        
        <li>
            <a href="/Files/Index" class="glyphicon glyphicon-file">
                <div class="sidebar-text">Files</div>
            </a>
        </li>

        <li>
            <a href="/Calendar/Index" class="glyphicon glyphicon-calendar">
                <div class="sidebar-text">Calendar</div>
            </a>
        </li>
        <li>
            <a href="/Announcement/Index" class="glyphicon glyphicon-bullhorn">
                <div class="sidebar-text">Announcements</div>
            </a>
        </li>
    </ul>
</div>
