
 <!-- sidebar -->
<nav class="nav navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="/home/Index"><span class="glyphicon glyphicon-home"></span> home</a></li>
                <li><a href="/Admin/Index"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                <li><a href="/Announcement/Index"><span class="glyphicon glyphicon-bell"></span> Announcement</a></li>
                <li><a href="/Files/Index"><span class="glyphicon glyphicon-file"></span> Resources</a></li>
                <li><a href="/Contact/Index"><span class="glyphicon glyphicon-book"></span> Contacts</a></li>
                <li><a href="/Calendar/Index"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-ok-circle"></span> Events</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-briefcase"></span> Meeting</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@User.Identity.Name</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>

       

    
</nav>