
 <!-- sidebar -->
<div class="sidebar">
    <ul>

        <!-- Company Logo -->
        <li>
            <a href="/Home/Index"><img src="~/img/Stabler-Centre---black-no-bkg.gif" class="dash-logo" /></a>
        </li>

        <!-- Home -->
        <li>
            <a href="/Home/Index" class="glyphicon glyphicon-home">
                <span class="sidebar-text">Home</span>
            </a>
        </li>
        
        @if (User.IsInRole("Admin")) { 
        <!-- Admin -->
        <li>
            <a href="/Admin/Index" class="glyphicon glyphicon-user">
                <span class="sidebar-text">Admin</span>
            </a>
        </li>
        }

        <!-- Files/Resources -->
        <li>
            <a href="/Files/Index" class="glyphicon glyphicon-file">
                <span class="sidebar-text">Files</span>
            </a>
        </li>

        <!-- Calendar -->
        <li>
            <a href="/Calendar/Index" class="glyphicon glyphicon-calendar">
                <span class="sidebar-text">Calendar</span>
            </a>
        </li>

        <!-- Announcements -->
        <li>
            <a href="/Announcement/Index" class="glyphicon glyphicon-bell">
                <span class="sidebar-text">Announcements</span>
            </a>
        </li>

        <!-- Contacts -->
        <li>
            <a href="/Contact/Index" class="glyphicon glyphicon-book">
                <span class="sidebar-text">Contacts</span>
            </a>
        </li>

        <!-- Meetings -->
        <li>
            <a href="/Meetings/Index" class="glyphicon glyphicon-briefcase">
                <span class="sidebar-text">Meetings</span>
            </a>
        </li>
        
        <!-- Schedule -->
        <li>
            <a href="/Schedule/Index" class="glyphicon glyphicon-tasks">
                <span class="sidebar-text">Schedule</span>
            </a>
        </li>

        <li>
            <a href="/Account/LogOff" class="glyphicon glyphicon-log-out">
                <span class="sidebar-text">Logout</span>
            </a>
        </li>

    </ul>
</div>
