
 <!-- sidebar -->
<div class="sidebar">
    <ul>

        <!-- Company Logo -->
        <li>
            <a href="/Home/Index"><img src="~/img/Hopspice-Niagara-Logo.png" class="dash-logo" /></a>
        </li>

        <!-- Home -->
        <li>
            <a href="/Home/Index" class="glyphicon glyphicon-home">
                <div class="sidebar-text">Home</div>
            </a>
        </li>
        
        @if (User.IsInRole("Admin")) { 
        <!-- Admin -->
        <li>
            <a href="/Admin/Index" class="glyphicon glyphicon-user">
                <div class="sidebar-text">Admin</div>
            </a>
        </li>
        }

        <!-- Files/Resources -->
        <li>
            <a href="/Files/Index" class="glyphicon glyphicon-file">
                <div class="sidebar-text">Files</div>
            </a>
        </li>

        <!-- Calendar -->
        <li>
            <a href="/Calendar/Index" class="glyphicon glyphicon-calendar">
                <div class="sidebar-text">Calendar</div>
            </a>
        </li>

        <!-- Announcements -->
        <li>
            <a href="/Announcement/Index" class="glyphicon glyphicon-bell">
                <div class="sidebar-text">Announcements</div>
            </a>
        </li>

        <!-- Contacts -->
        <li>
            <a href="/Contact/Index" class="glyphicon glyphicon-book">
                <div class="sidebar-text">Contacts</div>
            </a>
        </li>

        <!-- Meetings -->
        <li>
            <a href="/Meetings/Index" class="glyphicon glyphicon-briefcase">
                <div class="sidebar-text">Meetings</div>
            </a>
        </li>
        
        <!-- Schedule -->
        <li>
            <a href="/Schedule/Index" class="glyphicon glyphicon-tasks">
                <div class="sidebar-text">Schedule</div>
            </a>
        </li>

        <li>
            <a href="/Account/LogOff" class="glyphicon glyphicon-log-out">
                <div class="sidebar-text">Logout</div>
            </a>
        </li>

    </ul>
</div>
