
 <!-- sidebar -->
<nav class="nav navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="/home/Index" class="navItem"><span class="glyphicon glyphicon-home"></span><span class="hidden-sm Navitemtext">  Home</span></a></li>
                <li><a href="/Admin/Index" class="navItem"><span class="glyphicon glyphicon-user"></span><span class="hidden-sm Navitemtext">  Profile</span></a></li>
                <li><a href="/Announcement/Index" class="navItem"><span class="glyphicon glyphicon-bell"></span><span class="hidden-sm Navitemtext">  Announcement</span></a></li>
                <li><a href="/Files/Index" class="navItem"><span class="glyphicon glyphicon-file"></span><span class="hidden-sm Navitemtext">  Resources</span></a></li>
                <li><a href="/Contact/Index" class="navItem"><span class="glyphicon glyphicon-book"></span><span class="hidden-sm Navitemtext">  Contacts</span></a></li>
                <li><a href="/Calendar/Index" class="navItem"><span class="glyphicon glyphicon-calendar"></span><span class="hidden-sm Navitemtext">  Calendar</span></a></li>
                <li><a href="#" class="navItem"><span class="glyphicon glyphicon-ok-circle"></span><span class="hidden-sm Navitemtext">  Events</span></a></li>
                <li><a href="#" class="navItem"><span class="glyphicon glyphicon-briefcase"></span><span class="hidden-sm Navitemtext">  Meeting</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@User.Identity.Name</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>

       

    
</nav>