<div class="page-header">
    <h1>Profile - @User.Identity.Name</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/img/adminLogin.jpg" class="img-responsive" alt="Profile Picture" />
    </div>

    <div class="col-md-8">
      
        <div class="input-group">
            <label class="control-label col-md-12">First Name: Amanda</label>
            <label class="control-label col-md-12">Last Name: Cage</label>
            <label class="control-label col-md-12">Phone: 905-341-3411</label>
            <label class="control-label col-md-12">Date Of Birth: Janurary 4th 1989</label>
            <label class="control-label col-md-12">About yourself: I like long walks on beaches while the sun sets.</label>
        </div>

    </div>
</div>