<div class="col-xs-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Member Control</h4></div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">

                <!-- Left Coloumn -->
                <ul class="list-unstyled col-md-6">
                    <li><h5>Register a new User</h5></li>
                    <li>
                        <a class="btn btn-default" href="/Account/Register">
                            <span class="glyphicon glyphicon-plus-sign"></span> User
                        </a>
                    </li>
                </ul>

                <!-- Right Coloumn -->
                <ul class="list-unstyled col-md-6">
                    <li><h5>View Current Users</h5></li>
                    <li>
                        <a class="btn btn-default" href="/Admin/MemberList">
                            <span class="glyphicon glyphicon-user"></span> View Users
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div> <!-- .\End of Panel Member Control-->
    
