.navbar {
    margin-bottom:0px;
}

.glyphicon-user,
.glyphicon-briefcase,
.glyphicon-home,
.glyphicon-file,
.glyphicon-calendar,
.glyphicon-bell,
.glyphicon-book,
.glyphicon-tasks,
.glyphicon-log-out {
    font-size:1.5em;
    color:#fff;
}


.sidebar {
    background-color:#000000;
    width:150px;
    position:absolute;
    float:left;
}

.sidebar ul {
    margin:0px;
    padding:0px;
    width:inherit;
}

.sidebar ul li {
    list-style:none;
    display:inline-block;
    box-sizing:content-box;
    width:inherit
}

.sidebar ul li a {
    width:100%;
    padding-top:20px;
    padding-bottom:5px;
    text-align:center;
}

.sidebar ul li a:hover {
    text-decoration:none;
}

.sidebar ul li a:active,
.sidebar ul li a:focus {
    text-decoration:none;   
    color:#9ACD32;
    
}

.sidebar-text {
    font-size:.8em;
    padding:10px 0;
}

.sidebar ul li span {
    width:100%;
}

.active-app {
    color:#9ACD32;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#fff;
}

.custom-footer {
    position:relative;
    float:left;
}

.dash-logo {
    width:75%;
    height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}