.navbar {
    margin-bottom:0px;
}

.glyphicon-user,
.glyphicon-briefcase,
.glyphicon-home,
.glyphicon-file,
.glyphicon-calendar,
.glyphicon-bell,
.glyphicon-book,
.glyphicon-tasks,
.glyphicon-log-out {
    font-size:3em;
    color:#000000;
}


.sidebar {
    background-color:#9ACD32;
    width:150px;
    position:absolute;
    float:left;
}

.sidebar ul {
    margin:0px;
    padding:0px;
    width:inherit;
}

.sidebar ul li {
    list-style:none;
    display:inline-block;
    box-sizing:content-box;
    width:inherit
}

.sidebar ul li:hover {
    background-color:#356b00;
}

.sidebar ul li a {
    width:100%;
    padding-top:20px;
    padding-bottom:5px;
    text-align:center;
}

.sidebar ul li a:hover {
    text-decoration:none;
    color:#1e1e1e;
}

.sidebar ul li a:active {
    text-decoration:none;   
    color:#fff;
    
}

.sidebar-text {
    font-size:16pt;
    color:#fff;
    text-align: center;
    padding-bottom:20px;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    text-transform:uppercase;
    font-weight:bold;
    z-index:10;

    position:absolute;
    left:180px;
    width:200px;
    height:67px;
    bottom:1px;
    padding:20px 10px;

    transition-property:left, opacity;
    transition-duration: 0.23s;
} 

.sidebar ul li a:hover span {
    visibility: visible;
    background-color: #4c7400;
    left:150px;
    opacity: 1;
}

.active-app {
    color:#fff;
    text-shadow:0px 0px 40px white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#fff;
}

.dash-logo {
    width:75%;
    height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}