.navbar {
    margin-bottom:0px;
}

.glyphicon {
    font-size:2.5em;
    color:#696969;
}


.sidebar {
    background-color:#000;
    height:100%;
    width:100px;
    float:left;

}

.sidebar ul {
    margin:0px;
    padding:0px;
}

.sidebar ul li {
    list-style:none;
    display:inline-block;
    box-sizing:content-box;
}

.sidebar ul li a {
    width:100px;
    padding-top:20px;
    padding-bottom:5px;
    text-align:center;
}

.sidebar ul li a:hover {
    text-decoration:none;
}

.sidebar ul li a:active,
.sidebar ul li a:focus {
    text-decoration:none;   
    color:#9ACD32;
    
}

.sidebar-text {
    font-size:.4em;
    padding:10px 0;
}

.sidebar ul li span {
    width:100%;
}

.active-app {
    color:#9ACD32;
}

body {
    font-family: 'Open Sans', sans-serif;
}