
/* Give the site a nice transition effect */

body {
    background:none;
    width:100%;
    min-height:400px;
}

.btn {
    transition: background-color 0.8s ease;
}

.navbar-nav > li > a {
    color:#555555;
    -o-transition:.7s;
    -ms-transition:.7s;
    -moz-transition:.7s;
    -webkit-transition:.7s;
    transition:.7s;
}

/* img copyright = https://www.flickr.com/photos/yoshikazut/14370294009/in/photolist-nTRvKP-4PkfTi-ffFYzw-oXQM1X-f5xsAy-5nB6F4-6VbVyb-4fE4es-dpxHZ3-4HdtvP-4YwMfp-6NvD6q-8jSzEj-24G1Mr-iaop97-f8zPaK-cJDdRu-2b4Bf4-p4abdz-cS9c4m-4vMwMD-PE8kU-6PZ7My-5nB4oK-Az1va-4sJRgA-8xdwmr-dv54vk-cJba2h-3Fdgk2-tizeg-2in2DA-NACPf-rUjN4-tygNZ-8Ljy7B-4wcmim-763Jy9-83Vb7G-2Cx3YQ-okBiQp-bQbmVp-6KeWXn-cobpcN-jCMoy-prPJCo-cEe3RG-5ay3Wt-4XU8Xk-88YkyQ */
html {
	background: url(/img/demo.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login {
    max-width:400px;
    
    margin-top:20%;
    margin-left:auto;
    margin-right:auto;

    border-radius:5px;

    background-color:rgba(255,255,255,0.80);
    padding:4%;
}

.login div {
    margin-bottom:10px;
}

.btn-login {
    width:300px;
}

.btn-login:nth-of-type(2n+1) {
    margin-top:10px;
}

.img-login {
    width:175px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    display:block
    

}

.input-group {
    width:300px;
}

.panel {
    background-color:rgba(255,255,255,0.9   );
}

.glyphicon {
        top: 0;
}

hr {
    border-color:#555555;
}

.error-message  {
    margin-bottom:10px;
    text-align:center;
}