.container {
    padding:0px;

}

.page-content {
    color:#fff;
}

.panel-default > .panel-heading {
    background-color:#9ACD32;
}

.panel {
    color:#000;
}

.widget-icon-right {
    float:right;
}

footer {
    position:relative;
    bottom:0px;

    height:150px;
    width:inherit;

    background-color:#000;
    color:white;

    padding:20px;
}

.wrapper {
    padding: 2%;
    color: #000;
}

a {
    color:#2d52b7;
}

a:hover {
    color:#1a3275;
}