<div class="col-xs-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Recent Annoucements</h4></div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">

                <ul class="list-unstyled col-md-6">
                    <li><h5>List Of Most Recent Annoucements</h5></li>
                    <li>
                        <a class="btn btn-default btn-blue" href="/Files/Index">
                            <span class="glyphicon glyphicon-plus-sign"></span> Go To Resources
                        </a>
                    </li>
                </ul>

                <ul class="list-unstyled col-md-6">
                    <li><h5>List Of Most Recent Deaths</h5></li>
                    <li>
                        <a class="btn btn-default btn-blue" href="/Files/Index">
                            <span class="glyphicon glyphicon-plus-sign"></span> Go To Resources
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div> <!-- .\End of Panel Member Control-->