<div class="col-xs-6 col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center"><h4>Upcomming Meetings</h4></div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12">

                <ul class="list-unstyled col-md-6">
                    <li><h5>Check out your upcomming Meetings!</h5></li>
                    <li>
                        <a class="btn btn-default btn-blue" href="/Files/Index">
                            <span class="glyphicon glyphicon-plus-sign"></span> Go To Meetings!
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- .\End of Panel Meeting Control-->
