

<!--Use Dash Css-->
<link href="~/Content/Dash.css" rel="stylesheet" />

 <!-- sidebar -->
<div class="dash-app">
    <ul>
        <li>
            <span class="glyphicon active glyphicon-home"></span>
            <!--<span class="dash-text white">Home</span> -->
        </li>
        
        <li>
            <span class="glyphicon white glyphicon-file"></span>
            <!-- <span class="dash-text white">Resourses</span> -->
        </li>

        <li>
            <span class="glyphicon white glyphicon-calendar"></span>
            <!-- <span class="dash-text white">Resourses</span> -->
        </li>

    </ul>


</div>