

<!--Use Dash Css-->
<link href="~/Content/Dash.css" rel="stylesheet" />

 <!-- sidebar -->
<div class="sidebar">
    <ul>
        <li>
            <a href="#" class="glyphicon active-app glyphicon-home">
                <div class="sidebar-text">Home</div>
            </a>
            <!--<span class="dash-text white">Home</span> -->
        </li>
        
        <li>
            <a href="#" class="glyphicon white glyphicon-file">
                <div class="sidebar-text">Files</div>
            </a>
            <!-- <span class="dash-text white">Resourses</span> -->
        </li>

        <li>
            <a href="#" class="glyphicon white glyphicon-calendar">
                <div class="sidebar-text">Calendar</div>
            </a>
            <!-- <span class="dash-text white">Resourses</span> -->
        </li>
    </ul>
</div>
