<div class="row">

    <div class="col-xs-12">
        <h1>Home</h1>
    </div>

    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Welcome<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        Vinyl sapiente sustainable, consectetur occupy fixie butcher lumbersexual occaecat aliqua umami. Magna bitters gastropub, quinoa gentrify ad et Helvetica stumptown twee Kickstarter viral you probably haven't heard of them fingerstache. Church-key blog quis Kickstarter fap. Gastropub Marfa food truck jean shorts.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Anouncements<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                       Is your water heater on? Because Im boiling - Ben Franklin
                    </div>
                    <br />
                    <br />
                    <div class="col-xs-10 col-md-8 col-md-offset-2 col-xs-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item">Jan 21 - Car raffle to start</li>
                            <li class="list-group-item">Jan 15 - Weather warning</li>
                            <li class="list-group-item">Jan 1 - Happy New Years</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Meetings<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        Another Joke? You Cant take another Joke without loosing your head - JFK
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item">Febuary 12 - Fantacy Draft</li>
                            <li class="list-group-item">Febuary 15 - BiMonthly BBQ</li>
                            <li class="list-group-item">Febuary 24 - funraiser for cars</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">RSVP<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        click bellow to respond to the following RSVPS or <a href="#">Click here for past notifications</a>
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item">Febuary 12 - Fantacy Draft</li>
                            <li class="list-group-item">Febuary 15 - BiMonthly BBQ</li>
                            <li class="list-group-item">Febuary 24 - funraiser for cars</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Death Notices<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        click bellow to open your Death Notices.
                    </div>
                    <a href="#" class="btn btn-md btn-primary" role="button">Open Notices</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Links<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        Bellow are a collection of important links.
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Staff Links<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        Bellow are a collection of important links for staff members.
                    </div>

                    <div class="col-xs-10 col-xs-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                            <li class="list-group-item"><a href="#">Sample Staff Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



