<div class="row">

    <div class="col-xs-12">
        <h1>Home</h1>
    </div>

    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">Home<span class="widget-icon-right glyphicon glyphicon-cog"></span></div>

            <div class="row">

                <div class="panel-body">
                    <div class="col-xs-12">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>

                    <div class="col-xs-6">
                        <ul class="list-group">
                            <li class="list-group-item">ToDo's</li>
                            <li class="list-group-item">Example Item 1</li>
                            <li class="list-group-item">Example Item 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



