@{
    ViewBag.Title = "Home Page";
}

<!-- This is the login Page now-->

<div class="jumbotron">
    <h1>Login</h1>
    <p class="lead">Login to your account</p>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-8">

    </div>
</div>
