@{
    ViewBag.Title = "Home Page";
}

<!-- This is the login Page now-->

<div class="container">       

    <div class="login">

        <p>Hospice Niagara Portal</p>

        <hr />

        <!-- Username with icon-->
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" id="txtUsername" class="form-control" placeholder="Username">
        </div>

        <!--Password with icon-->
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="text" id="txtPassword" class="form-control" placeholder="Password">
        </div>
        
        <!-- Submit and login-->
        <input type="button" value="Login" id="btnSubmit" class="btn btn-login btn-primary" /> 
    </div>
</div>
