@using Hospice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<!--Custom Css for this page only link here-->

<!--added comment -->

<!-- This is the login Page now-->

<div class="container">       


</div>

