@{
    ViewBag.Title = "Home Page";
}

<!-- This is the login Page now-->
<p>test</p>
<div class="container">       

    <div class="login">
        
        <div class="input-group">
            <img class="img-login" src="~/img/Stabler-Centre---black-no-bkg.gif" />
        </div>
        <!-- Username with icon-->
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-user"></span>
            <input type="text" id="txtUsername" class="form-control" placeholder="Username">
        </div>

        <!--Password with icon-->
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-lock"></span>
            <input type="text" id="txtPassword" class="form-control" placeholder="Password">
        </div>
        
        <!-- Submit and login-->
        <input type="button" value="Login" id="btnSubmit" class="btn btn-login btn-primary" /> 
    </div>
</div>
